button.TWDS_buildwindow_start {
  background-color:wheat;
  margin: 0.33em auto 0;
  display: block;
  user-select:none;
  img:first-child {
    transform:rotate(0deg);
    &:hover {
    transform:rotate(90deg);
    }
  }
}
.wof-fairsite {
  button.TWDS_buildwindow_start {
    position:absolute;
    right:66px;
    top:29px;
    transform:scale(0.75);
  }
}
