.TWDS_calc_container {
  .presetselect {
    margin-left:1em;
  }
  .TWDS_calc_group.boostgroupweapons,
  .TWDS_calc_group.boostgroupmisc {
    width:30%;
    display:inline-block;
  }
  .TWDS_calc_group.attrgroup1,
  .TWDS_calc_group.attrgroup2 {
    width:20%;
    display:inline-block;
  }
  .TWDS_calc_group.boostgroupmps {
    width:49%;
    display:inline-block;
  }

  .TWDS_calc_group.attrskillgroup,
  .TWDS_calc_group.boostgroup {
    width:50%;
    display:inline-block;
  }
  .TWDS_calc_selectarea .onebonus {
    display:inline-block;
    width:49px;
    padding:2px;
  }
  .TWDS_calc_selectarea .onebonus input {
    width:4em;
  }
  .TWDS_calc_selectarea .onebonus img {
    width:45px;
  }
  button.doitadv {
    margin-left:0.5em;
  }
  .savesearch {
    margin-right:0.5em;
    float:right;
  }
  table.adventures {
    clear:both;
    width:100%;
  }
  table.generaldata {
    clear:both;
    width:100%;
  }
}
.TWDS_calcmaintain_window {
  ol {
    margin-left:20px;
    margin-top:8px;
  }
  button {
    margin-left:0.5em;
  }
}
