.TWDS_craftcalc {
        table.needed {
                border-collapse: collapse;
                .available.red {
                        color:red;
                }
                .available {
                        text-align:right;
                }
                th, td {
                        border:1px solid #888;
                }

        }
        .forcopying {
                margin:0.5em 0 0.5em 1em;
        }
}
