#ui_bottombar .multiplayer {
  position:relative;
  span.TWDS_fbcount {
    position: absolute;
    left: 15px;
    bottom: 0;
    background: url("/images/interface/friendsbar/level_bg.png");
    width: 21px;
    height: 15px;
    z-index: 1;
    color: white;
    font-size: smaller;
  }
}
