body.TWDS_large_inventory,
body.TWDS_normal_inventory_filters {
  #windows .inventory {
    &.TWDS_filters_active {
      .TWDS_filter_configure {
        outline:2px solid red;
      }
      .TWDS_maybefiltered {
        box-shadow: 0 2px red
      }
    }
    .filters {
      .TWDS_filter_configure {
        font-size:200%;
        font-weight:bold;
        text-align:center;
        color:white;
      }
      .TWDS_filter {
        width:36px;
        height:38px;
        margin-top:2px;
        border-image-source: linear-gradient(to bottom right, #aa8e69, #745434, #8d6c51, #51361e);
        border-image-slice: 1;
        border-width: 2px;
        margin-top: 2px;
        border-style: solid;
        transform:scale(0.85);

        &.TWDS_filter_recipe {
          background-image: url("/images/items/recipe/recipe_cook.png"),
            url("/images/items/recipe/recipe_smith.png"),
            url("/images/items/recipe/recipe_quack.png"),
            url("/images/items/recipe/recipe_sattle.png");
          background-position: top left, top right, bottom left, bottom right;
          background-size:63%;
          background-repeat:no-repeat;
        }
        &.TWDS_filter_useable {
          background-image: url("/images/items/yield/lifeelixir.png"),
            url("/images/items/yield/14days_vip_bonus.png?5"),
            url("/images/items/yield/fb_chest_steel.png"),
            url("/images/items/yield/amoslide.png");
          background-position: top left, top right, bottom left, bottom right;
          background-size:63%;
          background-repeat:no-repeat;
        }
        &.TWDS_filter_all {
          background-image:url("/images/items/yield/item_53356.png");
          background-size:99%;
          background-repeat:no-repeat;
        }
      }
    }
    table.TWDS_inv_filterselect {
      position: absolute;
      z-index: 3;
      right: 0;
      top: 0;
      width: auto;
      height: auto;
      border: 3px solid #745434;
      background: url("/images/interface/wood_texture_dark.jpg") 0 0 repeat;
      border-collapse: collapse;
      td:first-child, 
      th:first-child {
        padding-left:4px;
      }
      td:last-child, 
      th:last-child {
        padding-right:4px;
      }
      tr.filterhead th {
        position:relative;
        button {
          position:absolute;
          right:0;
        }
      }
      td {
        border-bottom:1px solid #8d6c51;
        color:white;
        padding-top:2px;
        padding-right:3px;
      }
      td:nth-child(3) {
        padding-right:1em;
      }
      th {
        color:white;
        padding-top:8px;
      }
      tr:nth-child(1) th {
        padding-top:2px;
      }
    }
  }
}
body.TWDS_large_inventory {
  #windows .inventory {
    width: 724px;
    .tw2gui_inner_window_bg {
      background:inherit;
    }
    div.tw2gui_window_inset {
      background: url("/images/tw2gui/window/window2_bg_repeat.jpg") 0 0 repeat-y;
    }
    .bag_navigation {
      display:contents;
      position:absolute;
      left: 30px;
      display: block;
      bottom: 2px;
      z-index:1;
      .bag_pages {
        span.current_page {
          color:black;
        }
        a.page {
          color:#333;
          text-decoration:underline;
        }
      }
    }
    #bag {
      width: calc(244px + 430px);
      height: calc(305px + 40px);
      color: white;
    }
    .search_container {
      bottom:20px;
    }
    .actions {
      height:36px;
      position:absolute;
      bottom: -12px;
      left:0;
      right:0;
      .upgrade_items {
        left:150px;
        right:10px;
      }
    }
    .filters {
      width: calc(258px + 420px);
      background: url("/images/interface/wood_texture_dark.jpg") 0 0 repeat-x;
      display:flex;
    }
  }
}
body.TWDS_normal_inventory_filters {
  #windows .inventory {
    .filters {
      .TWDS_filter, .filter_inventory {
        display:inline-block;
        vertical-align:top;
        height:30px;
      }
    }
  }
}
