div.tw2gui_window.TWDS_wide_window {
  // more than 1440 and the layout breaks
  --w: Min( Max(50vw,748px), 1400px);
  // 845px max height because otherwise the top of tw2gui_bg_bg/bl is visible (black)
  --h: Min( Max(66vh,471px) , 845px);
  width: var(--w) !important;
  height: var(--h) !important;
  .tw2gui_window_inset {
    left:0;
    clip-path: polygon(12px 0, 100% 0, 100% 100%, 12px 100%);  
    background-size: calc( var(--w) - 14px) calc( var(--h) - 46px);
    .tw2gui_inner_window_bg2 {
      background-size: calc( var(--w) - 14px) calc( var(--h) - 46px);
      width:20px;
      right:0;
    }
  }
}
#TWDS_tab_itemsets,
.TWDS_itemset_window {
  #TWDS_itemsettable_plus,
  #TWDS_itemsettable_minus {
    min-width:2em;
    margin-right:0.5em;
  }
  .TWDS_itemsets_filterline {
    display:flex;
    justify-content:space-between;
    div, label {
        grid-row:1;
    }
    label:last-child {
      grid-row:2;
      grid-column: 3 / span 2;
    }
  }
  .TWDS_itemsets_options select,
  .TWDS_itemsets_options label {
    margin-left:1em;
  }
  #TWDS_itemset_table {
    border-collapse: collapse;
    thead { 
      position:sticky;
      top:0;
      background-color: wheat;
    } 
    td.perlevel {
      font-style: italic;
    }
    td,
    tbody th {
      border:1px solid #888;
      padding:2px;
      font-size:inherit;
    }
    thead th {
      border:1px solid #888;
      padding:2px;
      font-size:inherit;
    }
    thead tr.colspanrow th {
      border-top:none;
    }
    tbody th.setname {
      cursor:pointer;
    }
  }
}
body.TWDS_itemsettable_hidemany #TWDS_itemset_table .maybehidden {
  display:none;
} 


