.jobwindow .item.TWDS_jobwindow_collectible {
        position:absolute;
        right:8px;
        top:26px;
        width:37px;
        height:37px;
        img {
                width:100%;
                height:auto;
                margin-left:0;
                margin-top:0;
        }
}
.jobwindow .TWDS_jobwindow_optim_link {
        position:absolute;
        right:47px;
        top:29px;
        width:32px;
        height:30px;
        color:white;
        border-radius:2px;
        border:2px solid #8888;
        display:grid;
        align-content:center;
        justify-content:center;
}
.jobwindow {
  .TWDS_quickequipment_shirt {
    display:inline-block;
    position:absolute;
    right:79px;
    bottom:-7px;
  }
}
.jobwindow .TWDS_jw_editable {
        position:absolute;
        left:-16px;
        top:-37px;
        min-width:19px;
        min-height:19px;
        color:#eee;
        &:hover {
          outline:2px dashed #888;
        }
        &.emptyeditable:hover:after {
          position: absolute;
          content:'✏';
          right: 0em;
          bottom: -0.25em;
          font-size: 2em;
          color:#FFF;
          transform: rotate(45deg);
          cursor:text;
          z-index:2;
        }
}
