.jobwindow .item.TWDS_jobwindow_collectible {
        position:absolute;
        right:8px;
        top:26px;
        width:37px;
        height:37px;
        img {
                width:100%;
                height:auto;
                margin-left:0;
                margin-top:0;
        }
}
