#market_buytable {
        .TWDS_market_buy_red {
                color:red !important; // important against TWX MarketBestBuy
        }
        .TWDS_market_buy_green {
                color:green !important;
        }
        .TWDS_market_buy_blue {
                color:blue !important;
        }
        .mpb_buynow {
                color:inherit !important;
        }
}
#market_createoffer_window {
        .TWDS_market_bulkmode_active {
                outline:2px solid red;
		background-color:#ffcec0c0;
        }
        .TWDS_market_bulkmode_container {
                margin-top:0.5em;
        }
        .TWDS_surcharge_line {
                span {
                  padding-left:0.5em;
                  padding-right:0.5em;
                  cursor:pointer;
                }
        }
}
.marketplace.active_tab_id_sell {
  .TWDS_sellstat {
    font-size:smaller;
  }
}
.TWDS_market_map {
  td:first-child {
    padding-left:1.15em;
  }
  .townline td {
    padding-top:0.5em;
    padding-left:0.15em;
  }
  .townline_dist .linklike {
    padding-left:0.2em;
    padding-right:0.2em;
  }
  .townline_center {
    padding-left:0.2em;
    padding-right:0.2em;
  }
}
