body.TWDS_fix_tailor_scrollbar {
  .tw2gui_window.trader.tailor {
    #arrow_right {
      left:319px;
    }
    #trader_bag_pages {
      width:auto;
      left:134px;
      padding-left:7px;
      padding-right:7px;
      height:15px;
      background-color:#420;
      min-width:170px;
    }
  }
}
