#TWDS_pinning_cooldowninfo {
        position:absolute;
        right:8px;
        bottom:0px;
        font-size: 13px;
        color:yellow;
        font-weight:normal;
}
.TWDS_pinning_container {
  .cooldown {
    box-shadow:1px 1px 1px black;
    p {
      font-size:11px;
    }
  }
  div.item {
    .tw_item {
      width:60px;
      height:60px;
    }
    .cooldown {
      top:22px;
    }
    .invpin {
      top:3px;
      right:0px;
      display:block;
      position:absolute;
    }
    .threedots {
      color:white;
      position:absolute;
      top:3px;
      right:0px;
      display:block;
      border-bottom:1px solid #000;
      border-right:1px solid #000;
      border-radius:0px 0 0px 2px;
      background-color:rgba(127,111,85,0.7);
      box-shadow: #000 -1px 1px 2px;
      b {
        display:inline-block;
        font-weight:bold;
        transform:rotate(90deg) translate(0px,-4px);
      }
    }
  }
}
#ui_notibar .TWDS_notibar_item div.image {
  background:none;
}
