.TWDS_upshop_count {
  position: absolute;
  bottom: 47px;
  left: 19px;
  background-color: #958066;
  box-shadow: #000 1px -1px 2px 1px;
  color: white;
  padding: 3px;
  border-radius: 0 4px 0px 0px;
}
.TWDS_upshop_collection {
  position: absolute;
  bottom: 47px;
  right: 19px;
  background-color: #958066;
  box-shadow: #000 -1px -1px 2px 1px;
  color: white;
  padding: 2px;
  border-radius: 4px 0 0px 0px;
  &::before {
    content: '\\1F3C6';
    width:24px;
    height:24px;
    font-size:smaller;
    padding-inline:1px;
    color: palegoldenrod;
  }
}
div.tw2gui_dialog .item_sell .pricing_container .amount_picker .input_minus1_value {
  display: block;
  border: 1px solid #8a6322;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #d6d2cd;
  position: absolute;
  left: 80px;
  width:70px;
  bottom: 100%;
  text-align: center;
  cursor: pointer;
  span:first-child {
    font-size: 0.8em;
    vertical-align: bottom;
    float: left;
    margin-top: 2px;
  }
}
